name: Bump Version
on:
  push:
    branches: [main]

jobs:
  bump-version:
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-latest
    name: Bump version and create changelog
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GK_TOKEN }}
          fetch-depth: 0
          
      - name: Create bump and changelog
        uses: commitizen-tools/commitizen-action@master
        with:
          github_token: ${{ secrets.GK_TOKEN }}
          changelog_increment_filename: body.md  # Optional: useful for release notes